.footer{
    background-color: #efb259;
}

.bg-pale{
    background-color: #fff !important;
}

.card-deck .card {
    max-width: calc(25% - 30px);
}

.cards {
   display: flex;
   justify-content: space-around;
}

.navbar-nav .nav-item:hover{
    background-color: #FFFFFF !important;
}

.navbar-nav .dropwdown-menu:hover{
    background-color: #FFFFFF !important;
}

.navbar-nav .nav-item:hover .nav-link{
    color: black !important;
}

.active{
    background-color: #f54336 !important;
}

#searchIcon{
    display:block;
    text-align:center;
}

.card{
    /*border: 2px solid gray !important;*/
    border-width: 2px !important;
    border-radius: 0 !important;
    transition: 0.4s !important;

}

.card-body{
    border-top: 2px solid gray !important;*/
    border-radius: 0 !important;
}

.redFocus:focus {
  /*border-color: #FF0000 !important;*/
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}
